{{!-- {{#each cart}}
<li>{{this.title}}</li>
<li>{{this.price}}</li>
<img src="{{this.image}}" alt="{{this.title}}">
<li>{{this.description}}</li>
{{/each}}




{{userInSession.username}}
{{product}} --}}
{{#if userInSession}}
<a href="/">Homepage</a>
<p>{{userInSession.username}}</p>
{{#each userCart.products}}
<li>{{this.title}}</li>
<li>{{this.price}}</li>
<img src="{{this.image}}" alt="{{this.title}}">
{{/each}}
{{/if}}