<div>
  <div>
    <h2>details</h2>
  </div>
  <div>
    <a href="/">Home</a>
  </div>
</div>

{{product.title}}
<img src="{{product.image}}" alt="{{product.title}}" />
{{product.description}}
{{product.price}}
{{product.rating}}
{{product.category}}

{{!-- <form action="/cart/{{product.id}}" method="post">
<button type="submit">Add to cart</button>
</form> --}}

<form action="/cart/{{userInSession._id}}" method="post">
  <input type="hidden" name="id" value="{{ product.id }}">
  {{!-- <input type="number" name="quantity" value="quantity" min="1"> --}}
  <button type="submit" id="add-to-cart-button">Add to Cart</button>
</form>